{{#light-table table as |t|}}

  {{#t.head fixed=true as |groups subColumns table|}}ยก
    {{!#drag-resize table=table tableId=elementId as |resize|}}
      {{#each groups as |column|}}
        {{drag-header table=table column=column rowspan=1 classNames="lt-column" tableActions=tableActions sortIcons=sortIcons}}
        <!--<div onmousedown={{action resize.selectColumn column}} style="cursor:ew-resize;float:left;background-color:green;overflow-y:hidden;height:100%;">&nbsp;</div>-->
      {{/each}}
    {{!/drag-resize}}
  {{/t.head}}

  {{t.body height='64vh'}}
{{/light-table}}
